* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: fit-content;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display: inline-flex;
}

a {
    text-decoration: none;
    color: #FDFDFD;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: auto 25px;
    padding: 10px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

footer {
    background-color: #419488;
    height: fit-content;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

footer #footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer #buttons-footer {
    display: flex;
    flex-direction: column;
}

footer #buttons-footer .button-quero-ser-prof,
.button-mais-link {
    width: 289px;
    height: 51px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background: #2E948A;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    border-radius: 62px;
}

.menu-header {
    width: 100%;
    padding-top: 6vh;
    padding-right: 5vw;
    display: flex;
    justify-content: right;
}

.logo-header {
    padding-left: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

@media only screen and (max-width: 1200px) {

    #first-row, #second-row, #third-row {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

}

@media only screen and (max-width: 820px) {
        /*

        RESPONSIVIDADE MAIS CONTEUDO

        */

    #first-container {
        flex-direction: column !important;
    }

    #mais-conteudo .titulo {
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 800px) {

    footer #footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer nav ul {
        display: flex;
        flex-direction: row;
    }

    footer nav ul li {
        display: flex;
        padding-left: 15px;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

}

@media only screen and (max-width: 710px) {
    /*

        RESPONSIVIDADE HEADER

    */
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        font-size: 3vw;
    }

    .menu-header {
        justify-content: center;
    }

    .logo-header {
        padding-left: 0 !important;
        padding-bottom: 0 !important;
    } 

    /*

        RESPONSIVIDADE POST
    
    */

    .descricao-post {
        width: 340px !important;
    }

    .titulo-post {
        font-size: 22px !important;
    }

    #img-post img {
        width: 340px !important;
    }
}

#mais-conteudo .titulo {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    color: #009688;
    padding-bottom: 4vh;
}

#mais-conteudo .descricao {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

#first-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8vh;
    padding-top: 8vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

#blog-content {
    background: #F7F7F7;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 6vh;
}

#banner-inicio img {
    width: 360px;
}

.titulo-post {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    padding-top: 4vh;
    line-height: 34px;
    color: #FF4081;
}

#img-post{
    padding-top: 4vh;
}

.descricao-post {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    padding-top: 4vh;
    text-align: justify;
    font-size: 17px;
    width: 500px;
    line-height: 20px;
    color: #000000;
}

#first-row, #second-row, #third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-quero-ser-prof {
    margin-bottom: 2vh;
}